<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boggle Game</title>
</head>
<body>
    <section>
        <h3 id="time">60 seconds</h3>
        <h3 id="score">Score: 0</h3>
    </section>
    
    <h5 id="result"></h5>
    <table id="board">
        {% for row in board %}
        <tr id="{{loop.index0}}">
            {% for cell in row %}
            <td id="{{loop.index0}}">{{cell}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <form>
        <label for="guess">Submit a word</label>
        <input type="text" name="guess" id="guess">
        <button id="submit-guess">Submit</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="static/app.js"></script>
</body>
</html>